In [ ]:
Interactive Mode : cmd python >>> quit()
Scipting Mode .py dir python file_name.py
IDE : Jupyter : ctrl + enter 
                shift + enter

In [ ]:
Datatypes :
    int : immutbale
    float : immutable
    list [] : mutable
    tuple () : immutable 
    str ' ' " " """ """ : immutable
    dict {key:value} : mutable
    set {} : mutable 
    bool True False : immutable 
        
Mutable : Methods to add/update and delete
Immutbale : No methods to add/update and delete

In [ ]:
var_name = value
name = "ABC"

In [ ]:
type(name)

In [ ]:
Immutable and Mutable

In [2]:
num1 = 500
print(num1)

num1 = 600
print(num1)
print(num1 * 2)

500
600
1200

In [3]:
num1 = 100
print(num1)

num1 = "Python"
print(num1)

100
Python

In [ ]:

a = 100

a = "Python"

In [5]:
num1 = 100
print(id(num1))

num1 = 200
print(id(num1))

1775466656
1775469856

In [ ]:
100 => 656 => No
200 => 856 => num1

In [ ]:
Mutable : If i am able to change the value at the same memory location => Add/update/dele
Immutable : i will not be able to change the value at same mem location

In [7]:
l = [10,20,30,40]
print(l,id(l))
l.append(50)
print(l,id(l))

[10, 20, 30, 40] 2653460412104
[10, 20, 30, 40, 50] 2653460412104

In [8]:
s = "Python"
print(s,id(s))
s ="java"
print(s,id(s))

Python 2653419672552
java 2653419618352

In [9]:
s1 = "Python"
print(id(s1))
s2 = "Java"
print(id(s2))
s3 = s1 + s2
print(id(s3))

2653419672552
2653427423864
2653460231216

In [13]:
num1 = 257
print(id(num1))

num2 = 257
print(id(num2))

2653460209968
2653460210288

In [11]:
num1 = 1000
print(id(num1))

num2 = 1000
print(id(num2))

2653460210288
2653460209712

In [ ]:
0 - 256

In [ ]:
Object intering

In [18]:
s1 = 'abcdefghijklmnop'
s2 ='abcdefghijklmnop'
print(id(s1),id(s2))

2653460236016 2653460236016

In [21]:
num1 = num2 = 300
print(num1,num2)

300 300

In [23]:
num1,num2 = 100,200
print(num1,num2)

100 200

In [24]:
num1,num2 = num2,num1
print(num1,num2)

200 100

In [ ]:
100 num2 
200 num1

In [ ]:
Operators : 
    1. Arith Operators : +,-,*,/,// - floor,**,%
    2. Comparison operators : ==,!=,<,>,<=,>= True/False
    3. Membership operators : in not in
    4. Identity Operator : is is not 
    5. Assignment operators =,+=,-=,*=,/=
    6. Logical operator and or not 
    7. Bitwise operator & | >> <<

In [30]:
print(10 / 3 )
print(10 // 3)
print(10 % 3)
print(10 ** 3)

3.3333333333333335
3
1
1000

In [32]:
d1 = 10
d2 = '10'
print(d1 == d2)

False

In [34]:
a = 100
b = 200
print(a == b)

False

In [37]:
dice = [1,2,3,4,5,6]
num = 4
print(num in dice)

True

In [40]:
print(5 in 500)

TypeError: argument of type 'int' is not iterable

In [39]:
print('p' in 'python')

True

In [ ]:
Iterable datatypes:
    1. list 
    2. tuple
    3. str
    4. dict
    5. set

In [44]:
num = 9
d = {1:1,2:4,3:9}
print(num in d)

False

In [49]:
num1 = 1000
num2 = 1000
print(num1 == num2)
print(num1 is num2)

True
False

In [48]:
l1 = [10,20,30]
l2 = [10,20,30]
print(l1 == l2)
print(l1 is l2)

True
False

In [ ]:
== : comparing the values 
is : checking the memory location

In [52]:
num1 = 100
print(num1)
num1 = num1 + 5
print(num1)
num1 += 5
print(num1)

100
105
110

In [55]:
num1 = 100
num1 *= 5 # num1 = num * 5
print(num1)

500

In [ ]:
++ , --,  **= , //= , %=

In [ ]:
and : cond1 and cond2 => True both shoudl be True

In [59]:
print(5 == 5 or 6 == 7 and 5 == 5 )
# print(5 == 5 && 6 != 7)

True

In [60]:
print(not(5 == 5 or 6 == 7))

False

In [69]:
num1 = 5
num2 = 2
print(bin(num1))
print(bin(num2))
print(bin(num1 | num2))

0b101
0b10
0b111

In [ ]:
10
11

11 => 3


101
010
   000=> 0

In [72]:
num1 = 5
print(bin(num1))
print(5 << 1)

# 101 => 010
101 => 5 in bin 
010

0b101
10