In [1]:
l = [10,20,30,40,50]
l.append(60)
print(l)

[10, 20, 30, 40, 50, 60]

In [ ]:
append => 1 at the end
extend => multiple values at the end
insert => one value at specified index

In [2]:
l = [10,20,30,40,50]
l2 = []

for value in l:
    l2.append(value ** 2 )
    
print(l2)

[100, 400, 900, 1600, 2500]

In [3]:
l = [10,20,30,40,50]
l2 = [value  ** 2 for value in l]
print(l2)

[100, 400, 900, 1600, 2500]

In [4]:
l = ['abc',"abcde","tttttttt","oooooooooooooooo"]
l2 = [len(value) for value in l]
print(l2)

[3, 5, 8, 16]

In [ ]:
[output_expression for value in iterable filtering condition]

In [8]:
l = [10,15,20,25,30,35,40,50]
l2 = [value for value in l if value%2 == 0]
print(l2)

[10, 20, 30, 40, 50]

In [9]:
l = [10,15,20,25,30,35,40,50,0]
l2 = ["Zero" if value ==0 else "Even" 
      if value %2 == 0 else "Odd" 
      for value in l]
print(l2)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Even', 'Zero']

In [11]:
import timeit 
t = timeit.timeit(stmt = """
l = []
for value in range(1,10000000):
    l.append(value ** 2)
""",number = 1)
print(t)

11.3612521

In [12]:
t = timeit.timeit(stmt = """
l = [value ** 2 for value in range(1,10000000)]
""",number = 1)
print(t)

7.793247100000002

In [ ]:
l = [10,20,30,40,50,60]
sum = 0

In [ ]:
every comprehension can be converted into normal for loop but reverse is not true

In [13]:
for val1 in range(100,105):
    for val2 in range(1,5):
        print(val1,val2)

100 1
100 2
100 3
100 4
101 1
101 2
101 3
101 4
102 1
102 2
102 3
102 4
103 1
103 2
103 3
103 4
104 1
104 2
104 3
104 4

In [14]:
l = [(val1,val2)for val1 in range(100,105) for val2 in range(1,5)]
print(l)

[(100, 1), (100, 2), (100, 3), (100, 4), (101, 1), (101, 2), (101, 3), (101, 4), (102, 1), (102, 2), (102, 3), (102, 4), (103, 1), (103, 2), (103, 3), (103, 4), (104, 1), (104, 2), (104, 3), (104, 4)]

In [15]:
l = [[1,2,3],[4,5,6],[7,8,9]]
# l2 = [1,2,3,4,5,6,7,8,9]
l2 = [val2 for val1 in l for val2 in val1]
print(l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
# d = {1:1,2:4....10:100}
d = {key:key ** 2 for key in range(1,11)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
a:97,b:98...z:122

In [18]:
d = {chr(value):value for value in range(97,123)}
print(d)

# 97:a,98:b....12:z
d2 = {value:key for key,value in d.items()}
print(d2)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122}
{97: 'a', 98: 'b', 99: 'c', 100: 'd', 101: 'e', 102: 'f', 103: 'g', 104: 'h', 105: 'i', 106: 'j', 107: 'k', 108: 'l', 109: 'm', 110: 'n', 111: 'o', 112: 'p', 113: 'q', 114: 'r', 115: 's', 116: 't', 117: 'u', 118: 'v', 119: 'w', 120: 'x', 121: 'y', 122: 'z'}

In [20]:
l =[10,15,20,25,23,21,1,4,78,85,96,85]
l2 = {value %5 for value in l}
print(l2)

{0, 1, 3, 4}

In [21]:
t = (10,20,30,40)
t2 = (value ** 2 for value in t)
print(t2)

<generator object <genexpr> at 0x000001F8B9BE86D0>